@import "../CONSTANTS"

.moments-holder
  box-sizing: content-box
  -webkit-box-pack: center
  justify-content: center
  padding: 40px 20px
  width: calc(100% - 40px)
  flex-grow: 1
  max-width: 935px
  margin: 0 auto 16px