@import "../../CONSTANTS"

.user-posts-article
  flex-grow: 1

.user-posts
  align-items: stretch
  border: 0 solid #000
  box-sizing: border-box
  display: flex
  flex-direction: column
  flex-shrink: 0
  margin: 0
  padding: 0
  position: relative

.rows-holder
  flex-direction: column
  padding-bottom: 0
  padding-top: 0