@import "../../../CONSTANTS"

.moment-image-wrapper
  background-color: #fafafa
  justify-content: center
  margin-right: 335px
  min-height: 450px

.moment-image-holder
  touch-action: manipulation

.moment-image-body
  background-color: #efefef
  display: block
  width: 100%
.moment-image-main
  padding-bottom: 100%
  display: block
  overflow: hidden
  img
    object-fit: cover
    height: 100%
    user-select: none
    width: 100%
    left: 0
    position: absolute
    top: 0

.moment-image-mask
  bottom: 0
  right: 0
  left: 0
  position: absolute
  top: 0