@import "../../../CONSTANTS"

.user-avatar
  border-radius: 50%

.username-small
  h1
    font-size: 14px
    line-height: 18px
    font-weight: 600
.username-medium
  h1
    font-size: 24px
.username-large
  h1
    font-size: 28px